@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&family=Dancing+Script&family=Unna:ital@1&display=swap');

/* general page styles */
* {
    margin: 0;
    padding: 0;
    border: none;

    list-style-position: inside;
}

body {
    font-family: 'Unna', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #023020;
}

h1,
h2 {
    font-family: 'Dancing Script', sans-serif;
    font-weight: 600;
    color: #a45a52;
}

/* header styling */

.heading {
    margin: auto;

    width: 90%;
    height: 300px;

    /* this might have to change to using a picture element for responsive design */
    background-image: url(../images/pexels-pixabay-39003.jpg);
    background-position: 0 -60px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#logo {
    text-transform: capitalize;
    text-align: center;
    font-size: 200%;
    color: white;

    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(00, 00, 00, 0.5);
}

.title {
    color: #D3D3D3;
}

div a {
    text-decoration: none;
}

/* navigation style */

ul {
    text-align: center;
    padding-top: 15px;
}

#menu li {
    list-style-type: none;
}

ul>li {
    display: inline-block;
    padding: 0 15px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-top: 1px solid #023020;
    border-bottom: 1px solid #023020;
    padding: 5px 0;
}

.active {
    border-top: 1px solid #023020;
    border-bottom: 1px solid #023020;
    padding: 5px 0;
}

/* vanlife benefits and lifehacks content */

.benefits-and-hacks {
    text-align: center;
    line-height: 1.5;

    padding: 15px;
    box-sizing: border-box;

    width: 45%;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(00, 00, 00, 0.1);
}

#benefits {
    margin-left: 5%;
    float: left;
}

#life-hacks {
    margin-right: 5%;
    float: right;
}

/* vanlife benefits and hacks headings */

.section-headings {
    margin-left: 5%;
    padding-top: 30px;
    padding-bottom: 15px;
    display: inline-block;
}

/* vanlife benefits and hacks image */

#benefits-image {
    width: 45%;
    height: 600px;

    float: right;
    margin-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
}

#benefits-image>img {
    max-width: auto;
    height: 100%;
}

/* #life-hack-image {

} */